@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: rgb(255, 255, 255);
  overflow-x:hidden

}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}
/* #dropdown{
  position:relative

}
.pure-menu-link{
  position:relative
} */
#nav{
  padding-bottom: 30px;
  padding-left: 100px;
}
nav img {
  max-height: 50px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
}

nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: white;
}

nav div {
  float: right;
  padding-right: 50px;
  padding-top: 5px;
}

input {
  align-items: center;
  margin-bottom: 2rem;
  width: 300px;
  height: 35px;
  border-radius: 4px;
  border-color: rgb(136, 179, 93);
  background-color: #1f3127;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
button{
  background-color: #091a87;
  color: rgb(255, 255, 255);
  padding: .5rem;
  border: none;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 1.5rem;
  text-decoration: none;
  overflow: hidden;
}
.pure-menu{
  align-items: center;
}

#homeHead{
  margin-top: 1rem;
}